/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none;
}







.wap{
	width:100%;
	height:auto;
	}
.headerTop{
	width:910px;
	height: 86px;
	padding: 25px;
	padding-bottom: 10px;
	margin: 0 auto;
	}

.vt3logo{
	height:85px;
	width:210px;
	border-right:#CCC 1px solid;
	margin-left:10px;
	float: left;
	}
.slogan{
	width: 308px;
	padding-top:10px;
	padding-left:60px;
	padding-right:90px;
	float: left;
	}
.header_btn{
	width: 220px;
	height:75px;
	float: left;
	padding-top:10px;
	}
.sign_btn a{
	font-size:10px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight:500;
	float:right;
	margin-top:6px;
	color:#00aee0;
	text-decoration:underline;
	}
.sign_btn a:hover{
	color: #00b8f6;
}
.start{

	display: block;
	width: 220px;
	height:30px;
	color:#FFF;
	text-align:center;
	padding-top:10px;
	font-size:22px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	cursor:pointer;
	background:#00a5d4;
	animation: myfirstOut 1s;
	-moz-animation: myfirstOut 1s;	/* Firefox */
	-webkit-animation: myfirstOut 1s;	/* Safari 和 Chrome */
	-o-animation: myfirstOut 1s;	/* Opera */


	}
.start:hover{
	animation: myfirst 1s;
	-moz-animation: myfirst 1s;	/* Firefox */
	-webkit-animation: myfirst 1s;	/* Safari 和 Chrome */
	-o-animation: myfirst 1s;	/* Opera */
	background: #00bcfc;

	}
@keyframes myfirst
{
from {background: #00a5d4;}
to {background: #00bcfc;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {background: #00a5d4;}
to {background: #00bcfc;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {background: #00a5d4;}
to {background: #00bcfc;}
}

@-o-keyframes myfirst /* Opera */
{
from {background: #00a5d4;}
to {background: #00bcfc;}
}



@keyframes myfirstOut
{
from {background: #00bcfc;}
to {background: #00a5d4;}
}

@-moz-keyframes myfirstOut /* Firefox */
{
from {background: #00bcfc;}
to {background: #00a5d4;}
}

@-webkit-keyframes myfirstOut /* Safari 和 Chrome */
{
from {background: #00bcfc;}
to {background: #00a5d4;}
}

@-o-keyframes myfirstOut /* Opera */
{
from {background: #00bcfc;}
to {background: #00a5d4}
}

.slogan p{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:22px;
	color:#00aee0;
	line-height:28px;
	}
.vt3top{
	width: 890px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 10px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	color:#999;
	font-size:12px;
	line-height:16px;
	font-weight:100;
}
.vt3top a{
	color:#00aee0;
	text-decoration:underline;

}
.paddingLfet{
	padding-left:120px;
}
.vt3Con {
	width:890px;
	overflow:hidden;
	padding:20px 35px;
	border:#999 1px solid;
	margin:0 auto;

	}
.vt3Con h3{
	color:#666;
        margin-top: 0px;
	font-size:18px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}
.vt3Con dl{
	width:380px;
	float:left;}
.vt3Con dt{
	color:#00aee0;
	font-weight:bold;
	margin-top:0px;
	font-size:14px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	}
.vt3Con dd{
        margin-left:0px;
	margin-top:5px;
	width:380px;
	font-family: Helvetica, Arial, sans-serif;
	color:#999;
	font-size:12px;
	line-height:14px;
	font-weight:100;
	}


.vt3Accept{
	width:890px;
	overflow:hidden;
	padding:20px 35px;
	border:#999 1px solid;
	border-top:none;
	margin:0 auto;

	}


.vt3Accept h3 , .vt3End h3{
        margin-top: 0px;
	color:#666;
	font-size:18px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	}
.vt3Accept ul{
	margin-top:20px;
	}
.vt3Accept li, .vt3End  a{
	font-family: Helvetica, Arial, sans-serif;
	color:#999;
	font-size:12px;
	line-height:16px;
	font-weight:100;
	float:left;
	margin-right:10px;}
.vt3Accept li a{
	color:#00aee0;
	text-decoration:underline;}
.vtSupportEmail{
	width:550px;
}
.vt3End{
	width:890px;
	overflow:hidden;
	padding:20px 35px;
	/*border:#999 1px solid;*/
	border-top:none;
	margin:0 auto;}
.vt3Endtext{
	margin-top:10px;
}

.vt3Plug{
	width:960px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
/*	background:#CCC;*/
	text-align:center;}

.vttd{
	font-family: Helvetica, Arial, sans-serif;
	color:#999;
	font-size:12px;
	line-height:16px;
	font-weight:100;
	float:left;
	margin-right:10px;
	}
.vtnew{
	color:#666;
	font-size:18px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}